/* app.css 
добавить: картинки вместо цифр(v), звуки, темную тему, изменить оформление
*/
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  background-color: #f0f0f0;
}

.App {
  width: 100%;
  height: 100vh; /* Замените на 100% или другое значение по вашему усмотрению */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  justify-content: center;
}

#grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px; /* Максимальная ширина по вашему усмотрению */
  margin: 0 auto; /* Для центрирования по горизонтали */
}

.tile {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: transparent; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin: 1px;
  font-size: 25px;
  /*opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
  
  
  &.hide {
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
  }*/
}

.tile-picture {
  transition-delay: 0.2s;
  transition: opacity 0.5s ease; 
}

.display-text, .survival-mode-counter {
  margin-top: 5px;
  text-align: center;
  z-index: 1;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#settings-button, #theme-button {
  margin: 5px 5px 5px 10px; 
  max-width: 150px;
  font-size: 14px;
}

.settings-dialog {
  position: absolute;
  overflow: hidden;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  border: 2px solid #333;
  border-radius: 5px;
  width: 300px;
}

.settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

h2 {
  margin: 0;
  font-size: 24px;
  margin-bottom: 10px;
  top: 50%;
  transform: translateY(-25%);
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  display: block;
  width: 100%;
  background: forestgreen;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.settings-dialog label,
.settings-dialog select,
.settings-dialog button {
  display: block;
}

button:hover {
  background-color: green; 
}

button:active {
  background-color: darkgreen; 
}

.reset-button {
  right: 50px;
}

.theme-button {
  left: 50px;  
}

.gameboard {
  width: 100%;
  height: 100%; 
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  boxSizing: border-box;
}