/* app.css 
добавить: картинки вместо цифр(v), заменить сложности(v), звуки, темную тему, изменить оформление, !переработать useEffect для проверки совпадений открытых клеток(v)
*/
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  background-color: #f0f0f0;
}

.App {
  width: 100%;
  height: 100vh; /* Замените на 100% или другое значение по вашему усмотрению */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  justify-content: center;
}

#grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px; /* Максимальная ширина по вашему усмотрению */
  margin: 0 auto; /* Для центрирования по горизонтали */
  position:relative;
}

.gameOver-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 175px;
  height: 175px;
  font-size: 175px;

  fill: white; /* Белый цвет внутреннего элемента */
  user-select: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  transition-delay: 0.1s;
  transition: opacity 0.5s ease;
  background-color: forestgreen; /* Темно-зеленый цвет фона */
  clip-path: circle(50% at 50% 50%); 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Тень вокруг элемента */
  padding: 30px;
}

.overlay.animated {
  opacity: 0;
  visibility: hidden;
  user-select: none;

  .gameOver-button {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -30%);
    transition-delay: 0.1s;
  }

  &.show {
    opacity: 0.9;
    visibility: visible;

    .gameOver-button {
      opacity: 0.9;
      visibility: visible;
      transform: translate(-50%, -50%);
    }
    .gameOver-button:hover {
      opacity: 1;
    }
  }
}

.tile {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: transparent; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin: 1px;
  font-size: 25px;
  user-select: none;
}

.tile-picture {
  transition-delay: 0.2s;
  transition: opacity 0.5s ease; 
}

.display-text, .survival-mode-counter {
  margin-top: 5px;
  text-align: center;
  /*font-size: 1vw;
  min-font-size: 14px;*/
  z-index: 1;
  user-select: none;
}

.button-container {
  width: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.sound-button { grid-area: 1 / 1 / 3 / 2; justify-self: center; align-self: center;}
#theme-button { grid-area: 1 / 2 / 2 / 3; }
#settings-button { grid-area: 2 / 2 / 3 / 3; }
.darkmode-button { grid-area: 1 / 3 / 3 / 4; justify-self: center; align-self: center;}

#settings-button, #theme-button {
  margin: 5px 0;
  width: 100px;
  font-size: 14px;
  justify-self: center; 
  align-self: center;
}

.gameType-container {
  display: flex; /* Устанавливаем контейнеру flex-контейнером */
  align-items: center; /* Выравниваем элементы по вертикали по центру */
  margin-bottom: 5px;
}


.settings-dialog {
  position: absolute;
  overflow: hidden;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  border: 2px solid #333;
  border-radius: 5px;
  width: 300px;
  z-index: 2;
  user-select: none;
}

.settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

h2 {
  margin: 0;
  font-size: 24px;
  margin-bottom: 10px;
  top: 50%;
  transform: translateY(-25%);
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  display: block;
  background: #777;
  width:100%;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.settings-dialog label,
.settings-dialog select,
.settings-dialog button {
  display: block;
}

button:hover {
  background-color: #555; 
}

button:active {
  background-color: #333; 
}

.reset-button {
  right: 50px;
}

.theme-button {
  left: 50px;  
}


.gameboard {
  width: 100%;
  height: 100%; 
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  boxSizing: border-box;
}